body {
    font-family: 'Poppins', sans-serif;
}

@keyframes fade-in-up {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in-up {
    animation: fade-in-up 1s ease-out;
}

.custom-card {
    will-change: transform;
}


@media (max-width: 770px) {
    .custom\\:flex {
        display: flex !important;
    }

    .custom\\:hidden {
        display: none !important;
    }
}